# Default ignored files
/shelf/
/.idea/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/src/
/public/
/configs/
/messier-one-policy/
/node_modules/
.env
asset-manifest.json
README.old.md
robots.txt
service-worker.js
package.json
package-lock.json
