# Default ignored files
/shelf/
/.idea/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/src/
/public/
/local/configs/
/local/messier-one-policy/
/node_modules/
.env
/local/
README.old.md
robots.txt
service-worker.js
package.json
local/package-lock.json
